body{
    padding: 0%;
    margin: 0%;
}

.Portfolio{
    /* background-image: url(./background\ .jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250vh;
    width: 100vw; */

    
}
.Introduction{
    text-align: left;
    font-size: 100%;
    font-style: italic;
    color: rgb(189, 10, 10);
    
}
.me{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: white;
}
.me li{
    display: inline-block;
    list-style: none;
    padding: 0px 60px;
    font: bolder;
    
}
a:hover{
    opacity: 0.5;
    font-size: 19px;
    color: rgb(189, 10, 10);
}
/* .image{
    float: right;
} */

/* .About me{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: white;} */

    .projects{
        border-radius: 100%;
        padding: 30px;
        background-color: grey;
        text-align: center;
    }

    .About{
        border-radius: 100%;
        padding: 30px;
        background-color: grey;
        text-align: center;   
    }
.Jobexperience{
    border-radius: 100%;
    padding: 30px;
    background-color: grey;
    text-align: center;  
}

.Passion{
    border-radius: 100%;
    padding: 30px;
    background-color: grey;
    text-align: center;   
}
.Hobbiesandskills{
    border-radius: 100%;
    padding: 30px;
    background-color: grey;
    text-align: center;
}

