body{
    padding: 0%;
    margin: 0%;
}

.Portfolio{
    background-image: url(./background\ .jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
    
}
.Introduction{
    text-align: left;
    font-size: 100%;
    font-style: italic;
    border-radius: 50px;
    color: yellowgreen;
    
}

.image